
body{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;

    
    
   }

@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
    
}
.logo{
    width: 350px;
    
    
    background-image: url(Odin_background_image.jpg);
    
}
.logo p{
    font-family: "Norse-Bold";
    align-self: center;
    font-size: 60px;
    color: white;
}
.logo img{
    height: 80px;
    width: 65px;
}
.logo .odin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: transparent;
    border: 1px solid;
    margin-top: 100px;
    padding: 33px;
}
form{
    width: 450px;
    background-color: white;
    
    
}

.top{
    background-color: grey;
    padding: 10px;
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top p{
    font-size: 12px;
   
}
.top-1{
    padding-right: 100px;
}


.name, .telemail, .pass{
    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 3px;
    flex: 1;
}
.middle{
    background-color: aliceblue;
    padding: 10px;
    height: 33.33%;
    
}
.bottom{
    background-color: white;
    
}

.bottom .but, .bottom p{
    padding: 10px;
}
button{
    background-color: #596d48;
    border: 0;
    padding: 5px 20px 5px 20px ;
    border-radius: 5px;
    font-size: x-small;
}
input{
    border: 1px solid #E5E7EB;
}
.pass input[type='password']:invalid{
    border: 1px dashed red;
}
.nm1 input[type='text']:invalid {
    border: 1px dashed blue;

}